html {
    font-family: sans-serif;
    line-height: 1.15;
    background-attachment: scroll;

}
body {
    padding: 60px;
    background: #f5f5f5;
    /*margin: auto;*/
    max-width: 400px; 
    margin-top: 50%;
    margin-bottom: 50%;
    background-image: css/Header_IMG_Cactus;
    /*text-align: center;*/
}

.card {
    text-align: center;
    padding: 20px 20px 20px 20px;  
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin: auto 0;
    border-radius: 10px;
        
}

.h1 {
    text-align: center;
    color: darkslategray;
    font-weight: bold;
    
}