/*shift command p - pick color*/
combinators:
    #id img{
    } 
    #id>img {
    } <!--'>' means they are direct children-->

#navbar > li {
    ba
}
*{
    box-sizing: border-box;
}

img{
    width: 100%
}

body {
    padding: 20px;
    /*padding will keep things containted - won't run into other elements*/
    background: #f5f5f5;
}

.card {
    /*padding: 20px 20px 20px 20px;  top, right, bottom, left*/
    /*box-shadow: 0px 2px 5px rgba(0,0,0,0.1); first:horzintal second:vertical, third:blur, fourth:color -- use rgd so you can make it tansparent, hex makes its solid--rgba lets you add the level of transparency*/
    background-color: #ffffff;
    /*max-width: 400px; div is a block tab, you dont have to set a width*/
    /*min-width: min amount of the pixels element will go */
    /*margin: 0 auto; easy way to center elements*/
    font-family: 'Bitter', serif;

}

.field{
    margin-bottom: 20px;
}

.field > label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.field >input [type=text],
.field .input [type=password] {
    /*width: 100%; max-width means = dont exceed this size, width is setting the size for the element. 100% is in refernce to the parent container - element is a percent of the parent*/
    height: 100%;
    height: 40px;
    border: 1px solid silver;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1);
}

.field > select {
    width: 100%;
    height: 40px;
}

.field > .label-wrap {
    font-weight: normal;
}

/*this is for label wrap*/
/*.field.labels-wrapping > label {
    font-weight: normal;
}
.field.labels-wrapping > label:first-child {
    font-weight: bold;
}
 label: last-child, nth-child2, nth-child3 */

.field.field-centered{
    text-align: center;
}

.field > button{
    background: darkslateblue;
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 4px;
    transition: all .3s ease;
}
/*put transition on the base element before transition*/

.field > button:hover{
    transform: scale(2);
    background: darkturquoise;
}
